* + umd-element-footer {
  margin-top: 48px;
}

umd-element-footer {
  & a,
  & p {
    color: #fff;
  }

  & p {
    margin-bottom: 8px;
  }

  & ul li {
    margin-top: 24px;
  }

  & a {
    background-image: linear-gradient(#fff, #fff);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 1px;
    display: inline;
    position: relative;
    transition: background-size 0.4s;
  }

  & a:hover,
  & a:focus {
    background-size: 100% 1px;
    color: theme(colors.white);
  }

  & address p {
    font-size: 14px;
  }

  & .mail-address {
    line-height: 1.2em;
    margin-bottom: 8px;

    & span {
      display: block;
    }
  }

  & .contact-list {
    & a:not(:first-child) {
      position: relative;
      display: inline;
      margin: 0 0 0 4px;
      padding-left: 10px;
      position: relative;
      background-position: 10px 100%;

      &:before {
        background-color: #fff;
        border-radius: 50%;
        content: '';
        display: block;
        height: 3px;
        left: 0;
        position: absolute;
        top: calc(0.5em + 1px);
        width: 3px;
      }
    }
  }
}

umd-element-footer[theme='light'] {
  & p,
  & a {
    color: #000;
  }

  & a {
    background-image: linear-gradient(#000, #000);
  }

  & .contact-list a:not(:first-child):before {
    background-color: #000;
  }
}
