/* ============================================================
   Code example block
   ============================================================ */

.code-example {
  background-color: #ffffff;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  padding: 1rem;
}

.code-example:not(:last-child) {
  margin-bottom: 0.75em;
}
