umd-element-card-overlay:not(:defined) {
  display: none;
}

umd-element-card-overlay {
  & .umd-sans-larger a {
    background-image: linear-gradient(theme(colors.black), theme(colors.black));
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 1px;
    display: inline;
    position: relative;
    transition: background-size 0.4s;

    &:hover,
    &:focus {
      background-size: 100% 1px;
      color: theme(colors.black);
    }
  }

  & [slot='content'] {
    & * + * {
      margin-top: theme(spacing.min);
    }

    & .umd-sans-smaller + * {
      margin-top: theme(spacing.min);
    }

    & * + .umd-sans-min {
      margin-top: theme(spacing.min);
    }
  }
}

umd-element-card-overlay[data-image='true'] {
  & .umd-sans-larger a {
    background-image: linear-gradient(theme(colors.white), theme(colors.white));

    &:hover,
    &:focus {
      color: theme(colors.white);
    }
  }
}

umd-element-card-overlay[theme='dark'] {
  & * {
    color: theme(colors.white);
  }

  & .umd-sans-larger a {
    background-image: linear-gradient(theme(colors.white), theme(colors.white));

    &:hover,
    &:focus {
      color: theme(colors.white);
    }
  }
}
