/* Styles that should be loaded on the website as defaults */

umd-element-card-overlay {
  &[theme='dark'] * {
    color: theme(colors.white);
  }

  & * {
    color: theme(colors.black);
  }

  & [slot='content'] {
    & * + * {
      margin-top: theme(spacing.min);
    }

    & .umd-sans-smaller + * {
      margin-top: theme(spacing.min);
    }

    & * + .umd-sans-min {
      margin-top: theme(spacing.min);
    }
  }
}
