umd-element-carousel-cards:not(:defined) {
  display: none;
}

umd-element-carousel-cards {
  & [slot='intro'] {
    & .umd-rich-text,
    & a[class^='umd-cta'] {
      color: theme(colors.white);
    }

    & .umd-rich-text a:hover,
    & .umd-rich-text a:focus {
      color: theme(colors.gold);
    }
  }
}
