/* Styles that should be loaded on the website as defaults */

umd-element-events-date-slider {
  &[theme='dark'] {
    & [slot='date-list'],
    & [slot='introduction'] {
      background-color: theme(colors.gray.darker);
    }
  }

  & [slot='introduction'] > * {
    margin-top: theme(spacing.min);

    &:first-child {
      margin-top: 0;
    }
  }
}
