<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,viewport-fit=cover"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="styles.css" />

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      a {
        background-image: linear-gradient(#fff, #fff);
        background-position: 0 100%;
        background-repeat: no-repeat;
        background-size: 0 1px;
        display: inline;
        position: relative;
        transition: background-size 0.4s;
      }

      a:hover,
      a:focus {
        background-size: 100% 1px;
      }

      p {
        margin-bottom: 20px;
      }

      p:last-child {
        margin-bottom: 0;
      }

      address {
        font-style: normal;
      }

      .sr-only {
        clip: rect(0, 0, 0, 0);
        border-width: 0;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 1px;
      }

      .umd-interactive-sans-medium {
        margin-bottom: 8px;
        font-weight: 800;
        line-height: 1.25em;
      }

      .example {
        padding: 10vw 0;
      }

      .example > umd-element-footer {
        margin-top: 40px;
      }

      /* Example Styles */

      umd-element-footer a,
      umd-element-footer p {
        color: #fff;
      }

      umd-element-footer a {
        background-image: linear-gradient(#fff, #fff);
        background-position: 0 100%;
        background-repeat: no-repeat;
        background-size: 0 1px;
        display: inline;
        position: relative;
        transition: background-size 0.4s;
      }

      umd-element-footer .mail-address {
        line-height: 1.2em;
        margin-bottom: 8px;
      }

      umd-element-footer .mail-address span {
        display: block;
      }

      umd-element-footer .contact-list a:not(:first-child) {
        position: relative;
        display: inline;
        margin: 0 0 0 4px;
        padding-left: 10px;
        position: relative;
        background-position: 10px 100%;
      }

      umd-element-footer .contact-list a:not(:first-child):before {
        background-color: #fff;
        border-radius: 50%;
        content: '';
        display: block;
        height: 3px;
        left: 0;
        position: absolute;
        top: calc(0.5em + 1px);
        width: 3px;
      }

      umd-element-footer[theme='light'] p,
      umd-element-footer[theme='light'] a {
        color: #000;
      }

      umd-element-footer[theme='light'] a {
        background-image: linear-gradient(#000, #000);
      }

      umd-element-footer[theme='light']
        .contact-list
        a:not(:first-child):before {
        background-color: #000;
      }
    </style>
  </head>

  <body>
    <div id="zero" class="example">
      <div class="umd-lock">
        <div class="umd-rich-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Id porta
            nibh venenatis cras sed felis. Cursus vitae congue mauris rhoncus.
            Morbi non arcu risus quis varius. Purus in mollis nunc sed. A arcu
            cursus vitae congue. Velit aliquet sagittis id consectetur purus ut
            faucibus pulvinar. Venenatis cras sed felis eget. Sodales ut etiam
            sit amet nisl purus in. Quis enim lobortis scelerisque fermentum dui
            faucibus. Arcu felis bibendum ut tristique et egestas quis. Lobortis
            scelerisque fermentum dui faucibus in ornare quam viverra orci.
            Viverra mauris in aliquam sem fringilla ut morbi tincidunt augue.
            Erat nam at lectus urna duis convallis. Egestas dui id ornare arcu
            odio. Varius quam quisque id diam.
          </p>
        </div>
      </div>

      <umd-element-footer> </umd-element-footer>
    </div>

    <div id="one" class="example">
      <div class="umd-lock">
        <div class="umd-rich-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Id porta
            nibh venenatis cras sed felis. Cursus vitae congue mauris rhoncus.
            Morbi non arcu risus quis varius. Purus in mollis nunc sed. A arcu
            cursus vitae congue. Velit aliquet sagittis id consectetur purus ut
            faucibus pulvinar. Venenatis cras sed felis eget. Sodales ut etiam
            sit amet nisl purus in. Quis enim lobortis scelerisque fermentum dui
            faucibus. Arcu felis bibendum ut tristique et egestas quis. Lobortis
            scelerisque fermentum dui faucibus in ornare quam viverra orci.
            Viverra mauris in aliquam sem fringilla ut morbi tincidunt augue.
            Erat nam at lectus urna duis convallis. Egestas dui id ornare arcu
            odio. Varius quam quisque id diam.
          </p>
        </div>
      </div>

      <umd-element-footer type="simple">
        <div slot="contact">
          <address>
            <p class="umd-interactive-sans-medium">
              <a
                href="https://www.usmd.edu/"
                target="_blank"
                rel="noopener noreferrer"
                >The Flagship Institution of the State of Maryland</a
              >
            </p>

            <p class="mail-address">
              <span> Office of Marketing and Communications</span>
              <span> 2101 Turner Hall</span>
              <span> College Park, MD 20742</span>
            </p>
            <p class="contact-list">
              <a href="mailto:omc@umd.edu">
                <span>omc@umd.edu</span>
              </a>
              <a href="tel:3014051000">
                <span>301.405.1000</span>
              </a>
            </p>
          </address>
        </div>

        <div slot="social-links">
          <a
            href="https://www.youtube.com/user/UMD2101"
            rel="noopener noreferrer"
            target="_blank"
            aria-label="Link to the youtube channel for the University of Maryland"
          ></a>
          <a
            href="https://www.facebook.com/UnivofMaryland"
            rel="noopener noreferrer"
            target="_blank"
            aria-label="Link to the facebook page for the University of Maryland"
          ></a>
          <a
            href="https://x.com/UofMaryland"
            rel="noopener noreferrer"
            target="_blank"
            aria-label="Link to the twitter page for the University of Maryland"
          ></a>
          <a
            href="https://www.instagram.com/univofmaryland/"
            rel="noopener noreferrer"
            target="_blank"
            aria-label="Link to the instagram page for the University of Maryland"
          ></a>
        </div>

        <div slot="utility-links">
          <div class="umd-lock">
            <a
              href="http://calendar.umd.edu/"
              target="_blank"
              rel="noopener noreferrer"
              >UMD Calendar</a
            >
          </div>
        </div>
      </umd-element-footer>
    </div>

    <div id="two" class="example">
      <div class="umd-lock">
        <div class="umd-rich-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Id porta
            nibh venenatis cras sed felis. Cursus vitae congue mauris rhoncus.
            Morbi non arcu risus quis varius. Purus in mollis nunc sed. A arcu
            cursus vitae congue. Velit aliquet sagittis id consectetur purus ut
            faucibus pulvinar. Venenatis cras sed felis eget. Sodales ut etiam
            sit amet nisl purus in. Quis enim lobortis scelerisque fermentum dui
            faucibus. Arcu felis bibendum ut tristique et egestas quis. Lobortis
            scelerisque fermentum dui faucibus in ornare quam viverra orci.
            Viverra mauris in aliquam sem fringilla ut morbi tincidunt augue.
            Erat nam at lectus urna duis convallis. Egestas dui id ornare arcu
            odio. Varius quam quisque id diam.
          </p>
        </div>
      </div>

      <umd-element-footer type="simple" theme="light">
        <div slot="contact">
          <address>
            <p class="umd-interactive-sans-medium">
              <a
                href="https://www.usmd.edu/"
                target="_blank"
                rel="noopener noreferrer"
                >The Flagship Institution of the State of Maryland</a
              >
            </p>

            <p class="mail-address">
              <span> Office of Marketing and Communications</span>
              <span> 2101 Turner Hall</span>
              <span> College Park, MD 20742</span>
            </p>
            <p class="contact-list">
              <a href="mailto:omc@umd.edu">
                <span>omc@umd.edu</span>
              </a>
              <a href="tel:3014051000">
                <span>301.405.1000</span>
              </a>
            </p>
          </address>
        </div>

        <div slot="social-links">
          <a
            href="https://www.youtube.com/user/UMD2101"
            rel="noopener noreferrer"
            target="_blank"
            aria-label="Link to the youtube channel for the University of Maryland"
          ></a>
          <a
            href="https://www.facebook.com/UnivofMaryland"
            rel="noopener noreferrer"
            target="_blank"
            aria-label="Link to the facebook page for the University of Maryland"
          ></a>
          <a
            href="https://twitter.com/UofMaryland"
            rel="noopener noreferrer"
            target="_blank"
            aria-label="Link to the twitter page for the University of Maryland"
          ></a>
          <a
            href="https://www.instagram.com/univofmaryland/"
            rel="noopener noreferrer"
            target="_blank"
            aria-label="Link to the instagram page for the University of Maryland"
          ></a>
        </div>

        <div slot="utility-links">
          <div class="umd-lock">
            <a
              href="http://calendar.umd.edu/"
              target="_blank"
              rel="noopener noreferrer"
              >UMD Calendar</a
            >
          </div>
        </div>
      </umd-element-footer>
    </div>

    <div id="three" class="example">
      <div class="umd-lock">
        <div class="umd-rich-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Id porta
            nibh venenatis cras sed felis. Cursus vitae congue mauris rhoncus.
            Morbi non arcu risus quis varius. Purus in mollis nunc sed. A arcu
            cursus vitae congue. Velit aliquet sagittis id consectetur purus ut
            faucibus pulvinar. Venenatis cras sed felis eget. Sodales ut etiam
            sit amet nisl purus in. Quis enim lobortis scelerisque fermentum dui
            faucibus. Arcu felis bibendum ut tristique et egestas quis. Lobortis
            scelerisque fermentum dui faucibus in ornare quam viverra orci.
            Viverra mauris in aliquam sem fringilla ut morbi tincidunt augue.
            Erat nam at lectus urna duis convallis. Egestas dui id ornare arcu
            odio. Varius quam quisque id diam.
          </p>
          <p>
            Varius sit amet mattis vulputate. Eu ultrices vitae auctor eu. Ut
            placerat orci nulla pellentesque dignissim. Dapibus ultrices in
            iaculis nunc sed augue. Fermentum dui faucibus in ornare quam
            viverra orci sagittis eu. Ornare massa eget egestas purus viverra
            accumsan in nisl. Nunc consequat interdum varius sit amet mattis
            vulputate enim. Amet tellus cras adipiscing enim eu turpis egestas.
            Adipiscing diam donec adipiscing tristique. Non enim praesent
            elementum facilisis leo vel fringilla est.
          </p>
        </div>
      </div>

      <umd-element-footer type="mega">
        <div slot="contact">
          <address>
            <p class="umd-interactive-sans-medium">
              Office of the Senior Vice President &amp; Provost
            </p>
            <p class="mail-address">
              <span>Suite 1132, Main Administration Building</span>
              <span>7901 Regents Drive College Park, MD 20742</span>
            </p>
            <p class="contact-list">
              <a href="mailto:provost@umd.edu">
                <span aria-hidden="true">provost@umd.edu</span>
                <span class="sr-only"
                  >Email: Office of the Provost provost@umd.edu</span
                >
              </a>
              <a href="tel:3014055252">
                <span aria-hidden="true">301.405.5252</span>
                <span class="sr-only">Call: 301-405-5252</span>
              </a>
            </p>
          </address>
        </div>

        <div slot="call-to-action">
          <a
            href="https://giving.umd.edu"
            target="_blank"
            rel="noopener noreferrer"
          >
            Support UMD
          </a>
        </div>

        <div slot="social-links">
          <a
            href="https://www.youtube.com/user/UMD2101"
            rel="noopener noreferrer"
            target="_blank"
            aria-label="Link to the youtube channel for the University of Maryland"
          ></a>
          <a
            href="https://www.facebook.com/UnivofMaryland"
            rel="noopener noreferrer"
            target="_blank"
            aria-label="Link to the facebook page for the University of Maryland"
          ></a>
          <a
            href="https://twitter.com/UofMaryland"
            rel="noopener noreferrer"
            target="_blank"
            aria-label="Link to the twitter page for the University of Maryland"
          ></a>
          <a
            href="https://www.instagram.com/univofmaryland/"
            rel="noopener noreferrer"
            target="_blank"
            aria-label="Link to the instagram page for the University of Maryland"
          ></a>
        </div>

        <div slot="utility-links">
          <div class="umd-lock">
            <a
              href="http://calendar.umd.edu/"
              target="_blank"
              rel="noopener noreferrer"
              >UMD Calendar</a
            >
          </div>
        </div>
      </umd-element-footer>
    </div>

    <div id="four" class="example">
      <div class="umd-lock">
        <div class="umd-rich-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Id porta
            nibh venenatis cras sed felis. Cursus vitae congue mauris rhoncus.
            Morbi non arcu risus quis varius. Purus in mollis nunc sed. A arcu
            cursus vitae congue. Velit aliquet sagittis id consectetur purus ut
            faucibus pulvinar. Venenatis cras sed felis eget. Sodales ut etiam
            sit amet nisl purus in. Quis enim lobortis scelerisque fermentum dui
            faucibus. Arcu felis bibendum ut tristique et egestas quis. Lobortis
            scelerisque fermentum dui faucibus in ornare quam viverra orci.
            Viverra mauris in aliquam sem fringilla ut morbi tincidunt augue.
            Erat nam at lectus urna duis convallis. Egestas dui id ornare arcu
            odio. Varius quam quisque id diam.
          </p>
          <p>
            Varius sit amet mattis vulputate. Eu ultrices vitae auctor eu. Ut
            placerat orci nulla pellentesque dignissim. Dapibus ultrices in
            iaculis nunc sed augue. Fermentum dui faucibus in ornare quam
            viverra orci sagittis eu. Ornare massa eget egestas purus viverra
            accumsan in nisl. Nunc consequat interdum varius sit amet mattis
            vulputate enim. Amet tellus cras adipiscing enim eu turpis egestas.
            Adipiscing diam donec adipiscing tristique. Non enim praesent
            elementum facilisis leo vel fringilla est.
          </p>
          <p>
            Molestie a iaculis at erat pellentesque adipiscing commodo elit at.
            Semper auctor neque vitae tempus quam. Purus semper eget duis at
            tellus at urna condimentum mattis. At tempor commodo ullamcorper a.
            Est placerat in egestas erat imperdiet. Amet nulla facilisi morbi
            tempus iaculis urna id. Et pharetra pharetra massa massa. Nibh
            venenatis cras sed felis eget. Diam vel quam elementum pulvinar
            etiam non quam lacus suspendisse. Vel risus commodo viverra maecenas
            accumsan. Egestas tellus rutrum tellus pellentesque.
          </p>
        </div>
      </div>

      <umd-element-footer type="visual">
        <div slot="contact">
          <address>
            <p class="umd-interactive-sans-medium">
              Office of the Senior Vice President &amp; Provost
            </p>
            <p class="mail-address">
              <span>Suite 1132, Main Administration Building</span>
              <span>7901 Regents Drive College Park, MD 20742</span>
            </p>
            <p class="contact-list">
              <a href="mailto:provost@umd.edu">
                <span aria-hidden="true">provost@umd.edu</span>
                <span class="sr-only"
                  >Email: Office of the Provost provost@umd.edu</span
                >
              </a>
              <a href="tel:3014055252">
                <span aria-hidden="true">301.405.5252</span>
                <span class="sr-only">Call: 301-405-5252</span>
              </a>
            </p>
          </address>
        </div>

        <div slot="social-links">
          <a
            href="https://www.youtube.com/user/UMD2101"
            rel="noopener noreferrer"
            target="_blank"
            aria-label="Link to the youtube channel for the University of Maryland"
          ></a>
          <a
            href="https://www.facebook.com/UnivofMaryland"
            rel="noopener noreferrer"
            target="_blank"
            aria-label="Link to the facebook page for the University of Maryland"
          ></a>
          <a
            href="https://twitter.com/UofMaryland"
            rel="noopener noreferrer"
            target="_blank"
            aria-label="Link to the twitter page for the University of Maryland"
          ></a>
          <a
            href="https://www.instagram.com/univofmaryland/"
            rel="noopener noreferrer"
            target="_blank"
            aria-label="Link to the instagram page for the University of Maryland"
          ></a>
        </div>

        <div slot="utility-links">
          <div class="umd-lock">
            <a
              href="http://calendar.umd.edu/"
              target="_blank"
              rel="noopener noreferrer"
              >UMD Calendar</a
            >
          </div>
        </div>
      </umd-element-footer>
    </div>

    <div id="five" class="example">
      <div class="umd-lock">
        <div class="umd-rich-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Id porta
            nibh venenatis cras sed felis. Cursus vitae congue mauris rhoncus.
            Morbi non arcu risus quis varius. Purus in mollis nunc sed. A arcu
            cursus vitae congue. Velit aliquet sagittis id consectetur purus ut
            faucibus pulvinar. Venenatis cras sed felis eget. Sodales ut etiam
            sit amet nisl purus in. Quis enim lobortis scelerisque fermentum dui
            faucibus. Arcu felis bibendum ut tristique et egestas quis. Lobortis
            scelerisque fermentum dui faucibus in ornare quam viverra orci.
            Viverra mauris in aliquam sem fringilla ut morbi tincidunt augue.
            Erat nam at lectus urna duis convallis. Egestas dui id ornare arcu
            odio. Varius quam quisque id diam.
          </p>
          <p>
            Varius sit amet mattis vulputate. Eu ultrices vitae auctor eu. Ut
            placerat orci nulla pellentesque dignissim. Dapibus ultrices in
            iaculis nunc sed augue. Fermentum dui faucibus in ornare quam
            viverra orci sagittis eu. Ornare massa eget egestas purus viverra
            accumsan in nisl. Nunc consequat interdum varius sit amet mattis
            vulputate enim. Amet tellus cras adipiscing enim eu turpis egestas.
            Adipiscing diam donec adipiscing tristique. Non enim praesent
            elementum facilisis leo vel fringilla est.
          </p>
          <p>
            Molestie a iaculis at erat pellentesque adipiscing commodo elit at.
            Semper auctor neque vitae tempus quam. Purus semper eget duis at
            tellus at urna condimentum mattis. At tempor commodo ullamcorper a.
            Est placerat in egestas erat imperdiet. Amet nulla facilisi morbi
            tempus iaculis urna id. Et pharetra pharetra massa massa. Nibh
            venenatis cras sed felis eget. Diam vel quam elementum pulvinar
            etiam non quam lacus suspendisse. Vel risus commodo viverra maecenas
            accumsan. Egestas tellus rutrum tellus pellentesque.
          </p>

          <p>
            Molestie a iaculis at erat pellentesque adipiscing commodo elit at.
            Semper auctor neque vitae tempus quam. Purus semper eget duis at
            tellus at urna condimentum mattis. At tempor commodo ullamcorper a.
            Est placerat in egestas erat imperdiet. Amet nulla facilisi morbi
            tempus iaculis urna id. Et pharetra pharetra massa massa. Nibh
            venenatis cras sed felis eget. Diam vel quam elementum pulvinar
            etiam non quam lacus suspendisse. Vel risus commodo viverra maecenas
            accumsan. Egestas tellus rutrum tellus pellentesque.
          </p>
        </div>
      </div>

      <umd-element-footer type="visual">
        <div slot="contact">
          <address>
            <p class="umd-interactive-sans-medium">
              Office of the Senior Vice President &amp; Provost
            </p>
            <p class="mail-address">
              <span>Suite 1132, Main Administration Building</span>
              <span>7901 Regents Drive College Park, MD 20742</span>
            </p>
            <p class="contact-list">
              <a href="mailto:provost@umd.edu">
                <span aria-hidden="true">provost@umd.edu</span>
                <span class="sr-only"
                  >Email: Office of the Provost provost@umd.edu</span
                >
              </a>
              <a href="tel:3014055252">
                <span aria-hidden="true">301.405.5252</span>
                <span class="sr-only">Call: 301-405-5252</span>
              </a>
            </p>
          </address>
        </div>

        <div slot="social-links">
          <a
            href="https://www.youtube.com/user/UMD2101"
            rel="noopener noreferrer"
            target="_blank"
            aria-label="Link to the youtube channel for the University of Maryland"
          ></a>
          <a
            href="https://www.facebook.com/UnivofMaryland"
            rel="noopener noreferrer"
            target="_blank"
            aria-label="Link to the facebook page for the University of Maryland"
          ></a>
          <a
            href="https://twitter.com/UofMaryland"
            rel="noopener noreferrer"
            target="_blank"
            aria-label="Link to the twitter page for the University of Maryland"
          ></a>
          <a
            href="https://www.instagram.com/univofmaryland/"
            rel="noopener noreferrer"
            target="_blank"
            aria-label="Link to the instagram page for the University of Maryland"
          ></a>
        </div>

        <div slot="utility-links">
          <div class="umd-lock">
            <a
              href="http://calendar.umd.edu/"
              target="_blank"
              rel="noopener noreferrer"
              >UMD Calendar</a
            >
          </div>
        </div>

        <div slot="link-column-one">
          <div>
            <h3>Column 1</h3>
            <ul>
              <li>
                <a href="https://gradschool.umd.edu"
                  >Prospective Undergraduate Students</a
                >
              </li>
              <li>
                <a href="https://admissions.umd.edu/persona/parent-families"
                  >Parents & Families</a
                >
              </li>
              <li><a href="https://admissions.umd.edu">Alumni</a></li>
              <li>
                <a href="https://alumni.umd.edu"
                  >Prospective Graduate Students</a
                >
              </li>
            </ul>
          </div>
        </div>

        <a
          href="http://calendar.umd.edu/"
          target="_blank"
          rel="noopener noreferrer"
          slot="call-to-action"
          >UMD Calendar</a
        >

        <img
          slot="background-image"
          src="option.jpg"
          alt="University of Maryland Logo"
        />
      </umd-element-footer>
    </div>

    <script src="bundle.js" type="module" defer></script>
  </body>
</html>
