umd-element-nav-item:not(:defined) {
  display: none;
}

umd-element-nav-item {
  display: block;

  & a {
    font-size: 14px;
    font-weight: 800;
    color: theme(colors.black);
    text-decoration: none;
  }

  & [slot='primary-link'] {
    font-size: 16px;
  }

  & [slot='primary-link'][data-selected]:before {
    content: '';
    position: absolute;
    bottom: 1px;
    height: 3px;
    width: calc(100% - 18px);
    left: -3px;
    background-color: theme(colors.gold);
    display: block;
    z-index: -1;
  }

  & [slot='primary-link'] {
    transition: color 0.2s ease-in-out;

    &:hover,
    &:focus {
      color: theme(colors.red);
    }
  }
}

umd-element-nav-item + umd-element-nav-item {
  margin-left: theme(spacing.md);

  @media (min-width: theme(screens.desktop.min)) {
    margin-left: theme(spacing.lg);
  }
}
