/* Tailwind */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Dependencies */

@import './dependencies/reset.css';
@import './dependencies/header.css';
@import './dependencies/dropdown.css';
@import './dependencies/kitchen-sink-styles.css';

header {
  z-index: 9999;
}

main {
  padding-bottom: 40px;
}

section:not(:last-of-type) {
  margin-bottom: 80px;
}

.umd-configuration-section {
  @apply mb-md pb-md border-b border-black;
}

.umd-section-headline {
  @apply umd-serif-medium mb-md text-red;
}
