[aria-hidden='true'] {
  display: none;
}

[aria-hidden='false'] {
  display: block;
}

.umd-input-select {
  background-color: theme(colors.gray.lighter);
  display: inline-block;
  overflow: hidden;
  position: relative;

  &:after,
  &:before {
    content: '';
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    right: theme(spacing.sm);
    top: calc(50% - theme(spacing.min));
    z-index: 0;
    transition: opacity 0.5s ease-in-out;
    height: theme(spacing.sm);
    width: theme(spacing.sm);
  }

  &:before {
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' width='96' height='96' viewBox='0 0 96 96' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' fill='%23000000' clip-rule='evenodd' d='M47.2598 49.1794L72.3325 21L94 21.0001L58.9085 62.2714L58.9247 62.2897L47.284 76L47.2598 75.9715L47.2356 76L35.5949 62.2897L35.6111 62.2714L0.519623 21L22.1871 21.0001L47.2598 49.1794Z' /%3E%3C/svg%3E");
    opacity: 1;
  }

  &:after {
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' width='96' height='96' viewBox='0 0 96 96' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23e21833' d='M47.2598 49.1794L72.3325 21L94 21.0001L58.9085 62.2714L58.9247 62.2897L47.284 76L47.2598 75.9715L47.2356 76L35.5949 62.2897L35.6111 62.2714L0.519623 21L22.1871 21.0001L47.2598 49.1794Z' /%3E%3C/svg%3E");
    opacity: 0;
  }

  &:hover,
  &:focus,
  &:focus-within {
    &:before {
      opacity: 0;
    }

    &:after {
      opacity: 1;
    }
  }

  & select {
    @apply umd-sans-small;

    appearance: none;
    background-color: transparent;
    color: theme(colors.black);
    cursor: pointer;
    display: block;
    padding: theme(spacing.sm) theme(spacing.sm);
    padding-right: 230px;
    line-height: 1em;
    position: relative;
    z-index: 9;
    text-overflow: ellipsis;
    transition: border 0.75s, color 0.75s;
    width: 100%;
  }
}
