header {
  margin-bottom: 40px;
  padding: 40px 0;
  border-bottom: 1px solid #eee;
  position: relative;
  z-index: 99;

  & .umd-lock {
    display: flex;
    width: 100%;
  }

  & nav {
    margin-left: auto;
    display: flex;
  }
}
