.page-heading {
  @apply umd-sans-largest;
  padding-bottom: 40px;
}

.page-sub-heading {
  @apply umd-sans-larger;
  padding-bottom: 30px;

  & a {
    text-decoration: underline;
  }
}

.content-heading {
  @apply umd-sans-large;
  display: block;
  padding: 45px 0 15px 0;
  margin-bottom: 24px;
  position: relative;
  display: flex;
  align-items: center;

  &::after {
    content: '';
    background-color: theme(colors.gray.light);
    display: block;
    flex-grow: 1;
    height: 1px;
    margin-left: 0.5em;
  }

  & > *:first-child {
    display: inline-flex;
    align-items: center;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 100%;
      margin-left: 0.5em;
      height: 1em;
      width: 1px;
      background-color: theme(colors.gray.light);
    }
  }

  & > *:nth-child(2) {
    color: theme(colors.gray.medium);
    margin-left: 1em;
    position: relative;
  }

  & a {
    text-decoration: underline;
  }
}

.call-to-action-outline {
  color: theme(colors.black);
  display: inline-block;
  font-size: 13px;
  margin-bottom: theme(spacing.min);
  position: relative;
  padding-left: 8px;
  font-weight: 600;

  &::before {
    content: '';
    display: block;
    height: 7px;
    width: 7px;
    position: absolute;
    top: 50%;
    left: 0;
    border-top: 2px solid theme(colors.red);
    border-left: 2px solid theme(colors.red);
    transform: rotate(-45deg) translateY(-50%);
    margin-top: -1px;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.two-cards-hr::after {
  content: '';
  background-color: theme(colors.gray.light);
  display: block;
  height: 1px;
  left: 230px;
  position: absolute;
  top: calc(50% + 17px);
  width: calc(85% - 100px);
}

.two-card-detail {
  color: theme(colors.gray.medium);
  padding-left: 15px;
  position: relative;
}

.two-card-detail::before {
  content: '';
  background-color: theme(colors.gray.light);
  display: block;
  height: 25px;
  margin-left: 115px;
  position: absolute;
  top: calc(50% + 3px);
  transform: translateY(-50%);
  width: 1px;
}

section umd-element-nav-item + umd-element-nav-item {
  margin-left: 20px;
}
