.page-heading {
  @apply umd-sans-largest;

  padding-bottom: 40px;
}

.content-heading {
  @apply umd-sans-large;

  display: block;
  padding: 45px 0 15px 0;
  position: relative;
}

.type-hr {
  display: flex;
  align-items: center;
}

.type-hr::after {
  content: '';
  background-color: theme(colors.gray.light);
  display: block;
  flex-grow: 1;
  height: 1px;
  margin-left: 0.5em;
}

.type-hr > span:first-child {
  display: inline-flex;
  align-items: center;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 100%;
    margin-left: 0.5em;
    height: 1em;
    width: 1px;
    background-color: theme(colors.gray.light);
  }
}

.type-hr > span:nth-child(2) {
  color: theme(colors.gray.medium);
  margin-left: 1em;
  position: relative;
}

.two-cards-hr::after {
  content: '';
  background-color: theme(colors.gray.light);
  display: block;
  height: 1px;
  left: 230px;
  position: absolute;
  top: calc(50% + 17px);
  width: calc(85% - 100px);
}

.two-card-detail {
  color: theme(colors.gray.medium);
  padding-left: 15px;
  position: relative;
}

.two-card-detail::before {
  content: '';
  background-color: theme(colors.gray.light);
  display: block;
  height: 25px;
  margin-left: 115px;
  position: absolute;
  top: calc(50% + 3px);
  transform: translateY(-50%);
  width: 1px;
}

section umd-element-nav-item + umd-element-nav-item {
  margin-left: 20px;
}
