* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overscroll-behavior: none;
}

main {
  padding-bottom: 40px;
}

section:not(:last-of-type) {
  margin-bottom: 80px;
}

p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

address {
  font-style: normal;
}
