umd-element-card:not(:defined) {
  display: none;
}

umd-element-card {
  &[theme='dark'] {
    & [slot='headline'],
    & [slot='body'] {
      *,
      & .umd-sans-min,
      & .umd-rich-text {
        color: theme(colors.white);
      }

      background-color: theme(colors.gray.darker);
    }
  }

  & [slot='headline'],
  & [slot='body'] {
    & * {
      color: theme(colors.black);
    }

    & .umd-rich-text {
      color: theme(colors.gray.dark);
    }

    & .umd-sans-min {
      color: theme(colors.gray.medium);
    }

    & * + * {
      margin-top: theme(spacing.min);
    }

    & .umd-sans-smaller + * {
      margin-top: theme(spacing.min);
    }

    & * + .umd-sans-min {
      margin-top: theme(spacing.min);
    }
  }
}
