umd-element-card:not(:defined) {
  display: none;
}

umd-element-card {
  & [slot='headline'],
  & [slot='body'] {
    & * {
      color: theme(colors.black);
    }

    & * + * {
      margin-top: theme(spacing.min);
    }

    & a {
      display: inline-block;
    }

    & .umd-rich-text {
      color: theme(colors.gray.dark);
    }

    & .umd-sans-min {
      color: theme(colors.gray.medium);
    }
  }
}

umd-element-card[theme='dark'] {
  & [slot='headline'],
  & [slot='body'] {
    background-color: theme(colors.gray.darker);

    * {
      color: theme(colors.white);
    }
  }
}
