umd-element-card:not(:defined) {
  display: none;
}

umd-element-card {
  & [slot='headline'],
  & [slot='body'] {
    & * + * {
      margin-top: theme(spacing.min);
    }
  }

  & [slot='headline'] {
    & * {
      color: theme(colors.black);
    }
  }

  & [slot='headline'] > p {
    margin-bottom: 0;
  }

  & [slot='body'] {
    & > .umd-links-group:last-child,
    & > a[class^='umd-cta']:last-child {
      margin-top: theme(spacing.sm);
    }
  }
}

umd-element-card[theme='dark'] {
  & [slot='headline'],
  & [slot='body'] {
    background-color: theme(colors.gray.darker);

    & * {
      color: theme(colors.white);
    }
  }

  & .umd-rich-text {
    @apply umd-rich-text-dark;
  }
}
